version: 2
updates:
- package-ecosystem: gradle
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 25
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly