<!DOCTYPE html>
<html>
	<head>
		<title>Googolplex Theater</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<h1><img src="./favicon.png" width="32"> Googolplex Theater</h1>
			<p><b><span th:text="${name}" /></b> reloaded. <a href="./">back</a></p>
		</div>
		<footer class="text-muted">
			<div class="container">
				<hr>
				<a href="https://github.com/yuzawa-san/googolplex-theater">GitHub</a>
			</div>
		</footer>
	</body>
</html>