<!DOCTYPE html>
<html>
	<head>
		<title>Googolplex Theater</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="icon" type="image/png" href="/favicon.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<style>
			body { line-height:1em }
			.settings { font-size:10px;white-space:pre-wrap;word-wrap:break-word; }
		</style>
	</head>
	<body>
		<div class="container">
			<h1>Googolplex Theater</h1>
{{#block "content"}}
{{/block}}
		</div>
		<footer class="text-muted">
			<div class="container">
				<a href="https://github.com/yuzawa-san/googolplex-theater">GitHub</a>
			</div>
		</footer>
	</body>
</html>